{
  "editorconfig": true,
  "singleAttributePerLine": true,
  "vueIndentScriptAndStyle": true,
  "useTabs": true,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "plugins": ["prettier-plugin-tailwindcss"]
}